//some basic function that we used frequently in another less files

$color-interval: 10% !global;

@function color($color-name: 'primary', $color-tone: 'base') {
  @return map-get(map-get($palette, $color-name), $color-tone);
}

@function literal-color-level($color, $level: 0) {
  $color-base: if($level < 0, black, white);

  @return mix($color-base, $color, abs($level) * $color-interval);
}

@function color-level($color-name: 'primary', $level: 0) {
  $color: color($color-name);
  @return literal-color-level($color, $level);
}

@mixin clearfix()
{
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin v-center() {
  height:100%;
  width: 100%;
  display: block;
  display: box;
  box-align: center;
}

@mixin h-center() {
  display: block;
  margin: 0 auto;
  text-align: center;
}
