//some basic function that we used frequently in another less files

@mixin clearfix()
{
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin v-center() {
  height:100%;
  width: 100%;
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  box-align: center;
}

@mixin h-center() {
  display: block;
  margin: 0 auto;
  text-align: center;
}
