$nav-color: #fff;

$screen-sm-min: 2px;
$screen-xs-max: 1px;

// Grid
$grid-width: 1000;
$grid-gutter-width: 30;

// Type
$font-size-root: .9375; // .9375 = 15px/16px by default
$font-size-print: 12pt;
$font-size-base: $font-size-root + 0em;
$base-line: 1.65em;
