<div class="units-row units-padding">
  <div class="unit-centered unit-40 panel">
    <h3>Registration form</h3>
    <form name="registerForm"
          role="form"
          class="forms"
          bootstrap-submit="RegisterCtrl.registerUser()">

      <label>
        Email
        <input type="email"
               name="email"
               class="width-100"
               input-error
               placeholder="Enter email"
               required
               ng-model="RegisterCtrl.email"
               tabindex="1">
        <div class="forms-desc error"
             ng-show="registerForm.$submitted || registerForm.email.$touched">
          <span ng-show="registerForm.email.$error.email">
            Please, use valid email format.
          </span>
          <span ng-show="RegisterCtrl.emailOccupied">
            This email address is already in use. Do you prefer to
            <a href="/login">login</a>?
          </span>
        </div>
      </label>

      <label>
        Password
        <input type="password"
               name="password1"
               class="width-100"
               placeholder="Enter password"
               required
               ng-model="RegisterCtrl.password1"
               ng-minlength="4"
               tabindex="2">
        <div class="forms-desc error"
             ng-show="registerForm.password1.$dirty &&
                      registerForm.password1.$error.minlength">
          Password shoud be minimum 5 chars length.
        </div>
      </label>

      <label>
        Repeat password
        <input type="password"
               name="password2" ng-model-options="{ updateOn: 'blur'}"
               class="width-100"
               match="RegisterCtrl.password1"
               placeholder="Confirm password"
               ng-model="RegisterCtrl.password2"
               ng-minlength="4"
               required
               tabindex="3">

        <div class="forms-desc"
             ng-show="registerForm.password2.$dirty &&
                      registerForm.password2.$error.match &&
                     !registerForm.password1.$error.minlength">
          <p>Password is both fields must be exactly the same.</p>
        </div>
      </label>
      <input type="submit"
             name="submit"
             value="Register"
             tabindex="4"
             class="btn btn-success">
    </form>
  </div>
</div>
