<div>
  <section class="left-container">
    <div class="fixed-possible" ng-class="{fixed: GamePanelCtrl.pinned}">
      <div class="pages-container">
        <h2>
          <button class="btn btn-sm pin" ng-class="{active: GamePanelCtrl.pinned}"
                  ng-click="GamePanelCtrl.pinned = !GamePanelCtrl.pinned">
            <i class="fa fa-thumb-tack"></i>
          </button>
        </h2>
        <div ui-view></div>

        <div id="main-nav">
          <nav>
            <ul class="nav-bar">
              <li ui-sref-active="active" >
                <a ui-sref="gamepanel.home"><i class="fa fa-home"></i></a>
              </li>
              <li ui-sref-active="active" >
                <a ui-sref="gamepanel.chars"><i class="fa fa-users"></i></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </section>

  <section class="right-container">
    <div class="events-container">
      <div class="talking">
        <!-- layout trick to nice, flexible panel -->

        <form name="sayingForm" class="form-horizontal" role="form"
              ng-submit="GamePanelCtrl.talkToAll()" novalidate>

          <div class="form-group">
            <div class="col-sm-10">
              <input name="saying" class="form-control" type="text" ng-model="GamePanelCtrl.saying"
                     tabindex="1" placeholder="Say to all" required>
            </div>
            <div class="col-sm-2">
              <input name="sb" type="submit" class="btn btn-block btn-primary" value="Say" tabindex="2">
            </div>
          </div>

        </form>
      </div>
      <div class="events-container" alc-spin="GamePanelCtrl.gameEvents == null">
        <div class="game-event" ng-repeat="event in GamePanelCtrl.gameEvents | orderBy: 'time' : true">
          <span class="time">{{ event.time | gametime }}</span>
          <span class="content">
            <span ng-repeat="part in event.body" class="content-part">
              <span ng-switch on="part.type">
                <span ng-switch-when="text">{{ part.text }}</span>
                <span ng-switch-when="char">
                  <a href="#" ng-click="charClicked(part)">{{ part.text }}</a>
                </span>
                <span ng-switch-default>
                  <!-- Unresolved GameEvent argument -->
                </span>
              </span>
            </span>
          </span>
        </div>
      </div>
    </div>
  </section>

</div>
