<div class="units-row units-split units-padding unit-centered gameboard">
  <section class="unit-golden-sm panel control-panel"
           ng-class="{'hidden-xs': !GamePanelCtrl.controlPanelFocus}">
    <div class="pages-container">
      <button type="button"
              class="close show-on-mobile"
              ng-click="GamePanelCtrl.controlPanelFocus=false"
              aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div ui-view></div>
    </div>
  </section>

  <div class="middle-nav">
    <nav>
      <ul class="nav-bar"
          ng-class="{'nav-bar--focused': GamePanelCtrl.controlPanelFocus}">
        <li class="events-btn show-on-mobile"
            ng-click="GamePanelCtrl.controlPanelFocus=false"
            ng-class="{active: !GamePanelCtrl.controlPanelFocus}">
          <a href=""><i class="fa fa-heartbeat"></i></a>
        </li>
        <li ng-repeat="state in GamePanelCtrl.states"
            ng-class="{active: state.name === GamePanelCtrl.currentState}">
          <a ng-click="GamePanelCtrl.reloadView(state.name)">
            <i class="fa" ng-class="state.icon"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <section class="unit-golden-lg panel">
    <div class="events-container">
      <div class="talking">
        <!-- layout trick to nice, flexible panel -->

        <form name="sayingForm"
              role="form"
              class="units-row"
              ng-submit="GamePanelCtrl.talkToAll()"
              novalidate>

          <input name="saying"
                 class="unit-80"
                 type="text"
                 ng-model="GamePanelCtrl.saying"
                 tabindex="1"
                 placeholder="Say to all"
                 required>

          <button name="sb"
                  type="submit"
                  class="btn unit-push-5 unit-20 btn-primary"
                  tabindex="2">
            Say
          </button>

        </form>
      </div>
      <div class="events-container" alc-spin="GamePanelCtrl.gameEvents == null">
        <div class="game-event" ng-repeat="event in GamePanelCtrl.gameEvents | orderBy: 'time' : true">
          <span class="time">{{ event.time | gametime }}</span>
          <span class="content">
            <span ng-repeat="part in event.body" class="content-part" ng-switch on="part.type">
              <span ng-switch-when="text">{{ part.text }}</span><!--
              --><span ng-switch-when="char"><!--
                --><a href="#" ng-click="charClicked(part)">{{ part.text }}</a>
              </span><!--
              --><span ng-switch-default>
                <!-- Unresolved GameEvent argument -->
              </span><!--
            --></span>
          </span>
        </div>
      </div>
    </div>
  </section>
</div>
