<div class="units-row units-padding">
  <form class="unit-centered unit-60 panel group"
        name="createCharForm"
        novalidate>
    <wizard class="create-char" on-finish="CreateCharCtrl.createChar()">

      <wz-step title="Race">
        <h1>Character race</h1>
        <p>Any race various in avarage lifespan, skills and talents.</p>
        <p class="width-100 text-centered">
          <i ng-if="CreateCharCtrl.isLoading" class="fa fa-spin fa-spinner"></i>
          <select id="char-race"
                  ng-hide="CreateCharCtrl.isLoading"
                  name="charRace"
                  ng-model="CreateCharCtrl.char.race"
                  class="width-100"
                  type="text"
                  ng-options="race.id as race.id for
                              race in CreateCharCtrl.playableRaces"
                  required></select>
        </p>
        <div class="units-row">
          <button ng-disabled="CreateCharCtrl.isLoading"
                  class="btn btn-success unit-100"
                  wz-next>
            Next
          </button>
        </div>
      </wz-step>

      <wz-step title="Gender">
        <h1>Character gender</h1>
        <p>Genders differ a little, related to selected race.</p>
        <p class="width-100 text-centered">
          <select id="char-gender"
                  ng-hide="CreateCharCtrl.isLoading"
                  name="charGender"
                  ng-model="CreateCharCtrl.char.gender"
                  class="width-100"
                  type="text"
                  ng-options="gender for gender in CreateCharCtrl.selectedRaceGenders()"
                  required></select>
        </p>
        <div class="units-row">
          <button ng-disabled="CreateCharCtrl.isLoading"
                  class="btn btn-success unit-80"
                  wz-next>
            Next
          </button>
          <button class="btn btn-warning unit-20"
                  wz-previous>Back</button>
        </div>
      </wz-step>

      <wz-step title="Name">
        <h1>Character name</h1>
        <p>This name will be present for you on your characters list.
        Nobody except you can see this.</p>
        <p>
          <input id="char-name"
                 ng-class="{'input-error': createCharForm.charName.$invalid}"
                 name="charName"
                 ng-model="CreateCharCtrl.char.name"
                 class="width-100"
                 type="text"
                 required
                 placeholder="Your character name">
        </p>
        <div class="units-row">
          <button ng-disabled="createCharForm.charName.$invalid"
                  class="btn btn-success unit-80"
                  wz-next>
            Next
          </button>
          <button class="btn btn-warning unit-20"
                  wz-previous>Back</button>
        </div>
      </wz-step>

      <wz-step title="Finish!">
        <h1>Done!</h1>
        <p>It's all. You can start playing now.</p>

        <div class="units-row">
          <button class="btn btn-success unit-80" wz-finish>Finish!</button>
          <button class="btn btn-warning unit-20" wz-previous>Back</button>
        </div>
      </wz-step>

    </wizard>
  </form>
</div>
