.gameboard {
  display: flex;
  position: relative;
  padding: $base-line;
  padding-top: 0;

  .unit-golden-sm.panel {
    margin-right: 0.25em;
  }
  .unit-golden-lg.panel {
    margin-left: 0.25em;
  }

  .middle-nav {
    margin-top: 2em;
  }

  .events-container {
    .game-event {
      .time {
        margin-right: 0.5em;
        font-weight: bold;
      }
      .content {
        // font-size: 1em;
      }
    }
  }
}

@media (max-width: $screen-xs-max) {
  .control-panel {
    position: absolute;
    left: 0;
    width: 100%;
    margin: 0;
    z-index: 2;
  }
}
