.gameboard {
  display: flex;
  position: relative;
  padding: $base-line;
  padding-top: 0;

  .unit-golden-sm {
    margin-right: $base-line / 2;
  }
  .unit-golden-lg {
    margin-left: $base-line / 2;
  }

  .middle-nav {
    margin-top: 30px;
  }

  .events-container {
    margin-left: 1em;
    min-height: 30em;
    .game-event {
      margin: 1px;
      padding:3px;
      .time {
        margin-right: 5px;
        font-weight: bold;
      }
      .content {
        font-size: 10.5pt;
      }
    }
  }
}

  @media (max-width: $screen-xs-max) {
    .control-panel {
      position: absolute;
      left: 0;
      width: 100%;
      margin: 0;
      z-index: 2;
    }
  }
