// body {
//     padding-top: 52px;
// }

html, body {
    height: 100%;
}

body {
    background-color: $color-body-bg;
    color: color('foreground');
}

#main-container {
    min-height: 100%;
}

.game-container {
  font-family: "Helvetica";
  font-size: 12.5px;
  margin: 0px auto;
}

.topnav {
    background: $color-topnav-bg;
    margin-bottom: $base-line;
    border-bottom: 1px solid literal-color-level($color-topnav-bg, 2);
    padding: $base-line / 2;
    .navbar {
        margin-bottom: 0;
    }
}
