// body {
//     padding-top: 52px;
// }

html, body {
    height: 100%;
}

body {
    background-color: color('background');
    color: color('foreground');
}

#main-container {
    min-height: 100%;
}

.game-container {
  font-family: "Helvetica";
  font-size: 12.5px;
  margin: 0px auto;
}

.topnav {

    padding: 15px;
}
