<header class="group topnav">
  <nav class="navbar navbar-left" role="navigation">
    <ul>
      <li>
        <a href="/">
          <i class="fa fa-bomb"></i>
          Alcarin
        </a>
      </li>
    </ul>
  </nav>
  <nav class="navbar navbar-right">
    <ul>
      <li class="game-time"
          tooltip="{{ $root.gametime | gametime: 'long' }}"
          tooltip-placement="bottom">
        <time class="day" ng-cloak>
          <i class="fa fa-calendar"></i>
          {{ $root.gametime | gametime: 'date' }}
        </time>
        <time class="hour" ng-cloak>
          <i class="fa" ng-class="{
            'fa-moon-o':  ($root.gametime | gametime: 'night'),
            'fa-sun-o' : !($root.gametime | gametime: 'night')
            }"></i>
          {{ $root.gametime | gametime: 'short-hour' }}h
        </time>
      </li>
      <li need-permission="LOGGED" ng-cloak>
        <a href="" ng-click="isUserDropdownOpen = !isUserDropdownOpen">
          Player
        </a>
      </li>
    </ul>
  </nav>
  <ul class="dropdown"
      dropdown is-open="isUserDropdownOpen">
    <li need-permission="MANAGING_PLAYERS">
      <a ui-sref="manage-players">Players</a>
    </li>
    <li><a ui-sref="logout">Logout</a></li>
  </ul>
</header>
