<header class="group">
  <nav class="navbar navbar-left" role="navigation">
    <ul>
      <li>
        <a href="/">
          <i class="fa fa-bomb"></i>
          Alcarin
        </a>
      </li>
    </ul>
  </nav>
  <nav class="navbar navbar-right">
    <ul>
      <li class="game-time"
          tooltip="{{ $root.gametime | gametime: 'long' }}"
          tooltip-placement="bottom">
        <span class="day" ng-cloak>
          <i class="fa fa-calendar"></i>
          {{ $root.gametime | gametime: 'date' }}
        </span>
        <span class="hour" ng-cloak>
          <i class="fa" ng-class="{
            'fa-moon-o':  ($root.gametime | gametime: 'night'),
            'fa-sun-o' : !($root.gametime | gametime: 'night')
            }"></i>
          {{ $root.gametime | gametime: 'short-hour' }}h
        </span>
      </li>
      <li need-permission="LOGGED" ng-cloak>
        <a ui-sref="logout">Logout</a>
      </li>
    </ul>
  </nav>
</header>
